@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:wght@500&display=swap');

h1, h2 {
    font-family: "Major Mono Display", monospace !important;
}

input, li, p {
    font-family: 'Roboto', sans-serif !important;
}

/* All sizes */
#header {
    font-size: 3em;
    font-weight: bold;
    margin: 20px 0px;
    letter-spacing: 3px;
}

/* Form Control Styles */
#todo-form {
    margin: 0px 20px;
}

#todo-form > * {
    margin: 5px;
}

#todo-form > input[type=submit] {
    padding: 5px 10px;
    border: solid 3px black;
    background-color: white;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

#todo-form > input[type=submit]:active {
    background-color: black;
    color: white;
}

#todo-item {
    padding: 5px 10px;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom: solid 3px gray;
}

#todo-item:focus {
    outline: none;
    border-bottom: solid 3px black;
}

/* Todo List Section Styles */
#todo-list-row {
    margin: 50px 0px;
    text-align: center;
}

#todo-list-section > h2 {
    font-size: 2em;
}

#todo-list > li {
    cursor: pointer;
}

.todo-list-item {
    background-color: rgb(207, 77, 68);
    border: solid 5px rgb(186, 12, 0);
    color: white;
    padding: 10px 50px;
    margin: 15px 20px;
    font-size: 1.5em;
}

.clicked-item {
    background-color: rgb(4, 184, 64);
    border: solid 5px rgb(1, 112, 38);
    color: white;
}

#empty-list {
    width: 100px;
}

#empty-list-section {
    margin-top: 20px;
}

#empty-list-section > * {
    margin: 5px 0px;
}

#error-message {
    font-size: 0.8em;
    color: red;
}

/* Desktop */
@media all and (min-width: 550px) {
    body {
        width: 550px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
