#header {
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
    letter-spacing: 3px;
}

/* Form Control Styles */
#todo-form > * {
    margin: 5px;
}

#todo-form > input[type=submit] {
    padding: 5px 10px;
    border: solid 3px black;
    background-color: white;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

#todo-form > input[type=submit]:active {
    background-color: black;
    color: white;
}

#todo-item {
    padding: 5px 10px;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom: solid 3px gray;
}

#todo-item:focus {
    outline: none;
    border-bottom: solid 3px black;
}

#todo-list > li {
    cursor: pointer;
}

.strike-through {
    text-decoration: line-through;
}